.fixed-button {
  background: rgba(0,0,0,0.7);
  border: 3px solid #aaa;
  border-left: none;
  border-radius: 0 100px 100px 0;
  height: 190px;
  left: 0;
  padding: 10px;
  position: fixed;
  top: 200px;
  width: 140px;
  z-index: 9999;
}
.fixed-button__back, .fixed-button__github  {
  background: transparent;
  margin-bottom: 10px;
}
.fixed-button__back a, .fixed-button__github a  {
  border: 2px solid #aaa;
  border-radius: 50%;
  color: #adff2f;
  display: block;
  font-family: 'Ubuntu';
  font-size: 1em;
  font-weight: bold;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.7s;
  width: 70px;
}
.fixed-button__back a:hover, .fixed-button__github a:hover  {
  background: rgba(127,127,127, 0.8);
  color: #3da3ef;
}
.fixed-button__back a:active, .fixed-button__github a:active  {
  border: #adff2f;
}
